body{
    margin: 0px;
}
    .bg{
        margin-top: -1000px;
        margin-left: 70px;
    }
    .color{
        width: 50px;
    }
    .circle{
        background-color: rgb(243, 236, 236);
        width: 27px;
        height: 27px;
        border-radius: 50%;
    }
    a{
        color: white;
        text-decoration: none; 
        margin-left: 700px; 
        margin-top: -50px;
    }
    .sahara{
        color: white;
        font-size: 80px;
        margin-left: 80px;
        margin-top: 100px;
    }
    .para{
        color: white;
        position: absolute;
        margin-left: 80px;
        margin-top: -40px;
    }
    button{
        width: 170px;
        height: 40px;
        background-color: white;
        border: none;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 50px;
    }
    .grid-container{
        display: grid;
        margin-left: 250px;
        grid-template-columns: auto ;
    }

    .item1{
        position: relative;
        width: 250px;
        border-radius: 20px; 
        margin-left: 600px;
        
    }
    .ball1{
        margin-top: -300px;
        transition: 1s;
     }
     .ball1:hover{
         margin-top: -320px;
     }
    .item2{
        position: relative;
        width: 250px;
        border-radius: 20px;
        margin-left: 900px;
    }
    .ball2{
        margin-top: -300px;
        transition: 1s;
     }
     .ball2:hover{
         margin-top: -320px;
     }
    .item3{
        position:relative;
        width: 250px;
        border-radius: 20px;
        margin-left: 600px;   
    }
    .ball3{
        margin-top: 30px;
        transition: 1s;
     }
     .ball3:hover{
         margin-top: 10px;
     }
    .item4{
        position:relative;
        width: 250px;
        border-radius: 20px;
        margin-left: 900px;     
    }
    .ball4{
        margin-top: -280px;
        transition: 1s;
     }
     .ball4:hover{
         margin-top: -300px;
     }
    .western{
        color: white;
        position: absolute;
        margin-left: 645px;
        margin-top: -280px;
    }
    .text1{
        color: white;
        position: absolute;
        margin-left: 645px;
        margin-top: -250px;
    }
    .AI{
        color: white;
        position: absolute;
        margin-left:960px;
        margin-top: -280px;
    }
    .text2{
        color: white;
        position: absolute;
        margin-left: 930px;
        margin-top: -250px;
    }
    .Pyramid{
        color: white;
        position: absolute;
        margin-left:650px;
        margin-top: -280px;
    }
    .text3{
        color: white;
        position: absolute;
        margin-left:650px;
        margin-top: -250px;
    }
    .Kalhari{
        color: white;
        position: absolute;
        margin-left:960px;
        margin-top: -280px;
    }
    .text4{
        color: white;
        position: absolute;
        margin-left: 930px;
        margin-top: -250px;
    }
    @media (max-width:800px){
        .bg{
            margin-top: -1000px;
            margin-left: 40px;
        }
        .color{
            width: 50px;
        }
        .circle{
            background-color: rgb(243, 236, 236);
            width: 27px;
            height: 27px;
            border-radius: 50%;
        }
        a{
            color: white;
            text-decoration: none; 
            margin-left: 700px; 
            margin-top: -50px;
        }
        .sahara{
            color: white;
            font-size: 50px;
            margin-left: 80px;
            margin-top: 70px;
        }
        .para{
            color: white;
            position: absolute;
            margin-left: 80px;
            margin-top: -40px;
        }
        button{
            width: 170px;
            height: 40px;
            background-color: white;
            border: none;
            border-radius: 20px;
            margin-left: 200px;
            margin-top: 30px;
        }
        .grid-container{
            display: grid;
            margin-left: 250px;
            grid-template-columns: auto ;
        }
    
        .item1{
            position: relative;
            width: 700px;
            height: 140px;
            border-radius: 20px; 
            margin-left: 1px;
            margin-top: 310px;    
        }
        
        .item2{
            position: relative;
            width: 700px;
            height: 140px;
            border-radius: 20px;
            margin-left: 01px;
            margin-top: 320px;
        }
        
        .item3{
            position:relative;
            width: 700px;
            height: 140px;
            border-radius: 20px;
            margin-left: 0px;   
        }
        .item4{
            position:relative;
            width: 700px;
            height: 140px;
            border-radius: 20px;
            margin-left: 0px;
            margin-top: 320px;     
        }
        
        .western{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -130px;
        }
        .text1{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -100px;
        }
        .AI{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -140px;
        }
        .text2{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -110px;
        }
        .Pyramid{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -130px;
        }
        .text3{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -110px;
        }
        .Kalhari{
            color: white;
            position: absolute;
            margin-left:  145px;
            margin-top: -130px;
        }
        .text4{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -110px;
        }
    }
    @media (min-width:400px)and(max-width:750ppx){
        
        .color{
            width: 50px;
        }
        .circle{
            background-color: rgb(243, 236, 236);
            width: 27px;
            height: 27px;
            border-radius: 50%;
        }
        a{
            color: white;
            text-decoration: none; 
            margin-left: 700px; 
            margin-top: -50px;
        }
        .sahara{
            color: white;
            font-size: 20px;
            margin-left: 80px;
            
        }
        .para{
            color: white;
            position: absolute;
            margin-left: 80px;
            margin-top: -20px;
        }
        button{
            width: 130px;
            height: 20px;
            background-color: white;
            border: none;
            border-radius: 20px;
            margin-left: 200px;
            margin-top: 30px;
        }
        .grid-container{
            display: grid;
            margin-left: 250px;
            grid-template-columns: auto ;
        }
    
        .item1{
            position: relative;
            width: 400px;
            height: 140px;
            border-radius: 20px; 
            margin-left: 1px;
            margin-top: 310px;    
        }
        
        .item2{
            position: relative;
            width: 400px;
            height: 140px;
            border-radius: 20px;
            margin-left: 01px;
            margin-top: 320px;
        }
        
        .item3{
            position:relative;
            width: 400px;
            height: 140px;
            border-radius: 20px;
            margin-left: 0px;   
        }
        .item4{
            position:relative;
            width: 400px;
            height: 140px;
            border-radius: 20px;
            margin-left: 0px;
            margin-top: 320px;     
        }
        
        .western{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -130px;
        }
        .text1{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -100px;
        }
        .AI{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -140px;
        }
        .text2{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -110px;
        }
        .Pyramid{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -130px;
        }
        .text3{
            color: white;
            position: absolute;
            margin-left:145px;
            margin-top: -110px;
        }
        .Kalhari{
            color: white;
            position: absolute;
            margin-left:  145px;
            margin-top: -130px;
        }
        .text4{
            color: white;
            position: absolute;
            margin-left: 145px;
            margin-top: -110px;
        }
    }