.text{
    text-align: center;
    width: 1350px;
    height: 20px;
    border: 1px solid;
    background-image: linear-gradient(
        90deg,
        red, green, yellow
    )
}
.shift{
    text-decoration: underline;
    margin-top: -1px;
}
.small{
    width: 800px;
    height: 50px;
    background-color: rgba(168, 160, 160, 0.932);
    border: 2px solid red; 
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 290px;
}
.bold{
    margin-left: 300px;
    margin-top: 01px;
    font-size: small;
}
.bg{
    background-color: rgb(140, 236, 204);
    width: 1350px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid grey; 
    border-radius: 10px;
}
.a{
    background-color: rgb(67, 236, 236);
    width: 350px;
    height: 60px;
    border: 2px solid grey; 
    border-radius: 10px;
    margin-left: 35px;
    font-weight: bold;
    display: inline-block;

}
.b{
    background-color: rgb(67, 236, 236);
    width: 400px;
    height: 60px;
    border: 2px solid grey; 
    border-radius: 10px;
    margin-left: 5%;
    margin-top: -65px;
    font-weight: bold;
    display: inline-block;
}
.c{
    background-color: rgb(67, 236, 236);
    width: 400px;
    height: 60px;
    border: 2px solid grey; 
    border-radius: 10px;
    font-weight: bold;
    margin-left: 900px;
    margin-top: -65px;
}
.d{
    background-color: rgb(67, 236, 236);
    width: 400px;
    height: 70px;
    border: 2px solid grey; 
    border-radius: 10px;
    font-weight: bold;
    margin-left: 460px;
    margin-top: 3px;
}
.color{
    text-align: center;
    width: 1350px;
    height: 20px;
    border: 1px solid;
    margin-top: 10px;
    background-image: linear-gradient(
        90deg,
        rgb(211, 29, 29), orange,  rgb(211, 29, 29)
    )
}
.mit{
    text-decoration: underline;
    margin-top: -1px;
}
.u{
    width: 1350px;
    height: 300px;
    border: 1px solid green;
    margin-top: 10px;
    background-image: radial-gradient( 
            blue,green
    );
}
.v{
    color: brown;
    width: 160px;
    height: 110px;
    background-color: rgb(230, 230, 24);
    border: 3px solid rgb(206, 48, 48);
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: underline;
    margin-top: 100px;
    margin-left: 200px;
    display: inline-block;
}
.w{
    color: brown;
    width: 160px;
    height: 110px;
    background-color: rgb(230, 230, 24);
    border: 3px solid rgb(206, 48, 48);
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: underline;
    margin-top: -115px;
    margin-left: 100px;
    display: inline-block;
}
.x{
    color: brown;
    width: 160px;
    height: 110px;
    background-color: rgb(230, 230, 24);
    border: 3px solid rgb(206, 48, 48);
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: underline;
    margin-top: -115px;
    margin-left: 130px;
    display: inline-block;
}
.y{
    color: brown;
    width: 160px;
    height: 110px;
    background-color: rgb(230, 230, 24);
    border: 3px solid rgb(206, 48, 48);
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;
    text-decoration: underline;
    margin-top: -115px;
    margin-left: 130px;
    display: inline-block;
}
.red{
    color: white;
    background-color: rgb(221, 21, 21);
    text-align: center;
    border: 1px solid green;
    margin-top: 100px;
}
.green{
    width: 300px;
    height: 60px;
    color: white;
    background-color: rgb(36, 173, 36);
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    font-size: large;
    display: inline-block;
}
.purple{
    width: 300px;
    height: 60px;
    color: white;
    background-color: rgb(78, 78, 207);
    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
}
.blue{
    width: 560px;
    height: 60px;
    color: white;
    background-color: rgb(19, 19, 153);
    text-align: start;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bolder;
    font-size: medium;
  margin-left: 650px;
  margin-top: -60px;
}
.white{
    width: 1210px;
    height: 130px;
    color: white;
    background-color: rgb(221, 150, 17);
    text-align: start;
    margin-top: 10px;
    font-weight: bolder;
    font-size: large;
}
.black{
    color: white;
    background-color: black;
    width: 100px;
    height: 200px;
    margin-left: 1230px;
    margin-top: -215px;
}
.und{
    text-decoration: underline;
}
.best{
    background-color: rgb(55, 161, 161);
    text-align: center;
    margin-top: -10px;
}